.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  background-color: black;
    width: 2000px;
    height: 2000px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.gameWindow {
  position: relative;
    width: 400px;
    height: 600px;
    align-content: center;
    margin-top: 40px;
}

.gameBackground {
  width: 400px;
}

.message {
  position: absolute;
  width: 250px;
  bottom: 150px;
  left: 70px;
}

.base {
  position: absolute;
  width: 600px;
  bottom: -200px;
  left: 0px;
}

.bird {
  position: absolute;
  width: 50px;
  bottom: 250px;
  left: 170px;
}

.pipe {
  position: absolute;
  width: 60px;
  height: 300px;
  bottom: 0px;
  left: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}